@using AoC2024.Blazor.Parsers.Week2;
@using System.Linq;
@using AoC2024.Blazor.Extensions;

@rendermode InteractiveServer

<textarea @bind=input></textarea>

<button class="btn btn-primary">Compute</button>

<p role="status">Safe reports: @safeCount</p>
@* <p role="status">Similarity score: @score</p> *@

@code {
    private string rawInput = "";
    private string input {
        get => rawInput;
        set {
            rawInput = value;
            ComputeInput();
        }
    }
    private int safeCount = 0;
    private int score = 0;

    private void ComputeInput() {
        var reports = rawInput.ParseIntLines();

        // Reset output
        safeCount = 0; score = 0;
    }
}