@using AoC2024.Blazor.Parsers.Week2;
@using System.Linq;
@using AoC2024.Blazor.Extensions;

@page "/Day2"
@rendermode InteractiveServer

<PageTitle>Day2</PageTitle>

<h1>Rednose reactor report readings</h1>

<p>
    <input type="checkbox" @bind="isProblemDampenerEnabled"><label>Problem dampener (tolerates 1 bad level)</label>
</p>
<textarea @bind=input></textarea>

<button class="btn btn-primary" @onclick="ComputeInput">Compute</button>

<p>
    <span>Safe reports: @safeCount</span>
    <ul>
        <li>The levels are either all increasing or all decreasing.</li>
        <li>Any two adjacent levels differ by at least one and at most three.</li>
    </ul>
</p>

@foreach (var result in verboseResults)
{
    <p>@result</p>
}

@code {
    private string rawInput = @"7 6 4 2 1
1 2 7 8 9
9 7 6 2 1
1 3 2 4 5
8 6 4 4 1
1 3 6 7 9";
    private string input {
        get => rawInput;
        set {
            rawInput = value;
            ComputeInput();
        }
    }
    private List<string> verboseResults = new();
    private int safeCount = 0;
    private bool isProblemDampenerEnabled = true;

    private void ComputeInput() {
        var reports = rawInput.ParseIntLines();

        // Reset output
        safeCount = 0; verboseResults = new();

        foreach (var report in reports)
        {
            var reportArr = report.ToArray();
            CheckIfSafe(reportArr, reports.Count() < 1001, isProblemDampenerEnabled);
        }

        Console.WriteLine($"safeCount: {safeCount}"); // P1 391 too high, P2 426 too low, 473 too high
    }

    private bool CheckIfSafe(int[] reportArr, bool isVerbose, bool isProblemDampenerEnabled)
    {
        var isAscending = reportArr[0] < reportArr[1];

        for (var i = 1; i < reportArr.Length; i++)
        {
            var diff = isAscending
                ? reportArr[i] - reportArr[i - 1]
                : reportArr[i - 1] - reportArr[i];

            if (diff >= 1 && diff <= 3)
                continue;

            if (isProblemDampenerEnabled)
            {
                int? dampenedIndex = TryToDampen(reportArr, i);
                if (dampenedIndex.HasValue)
                {
                    var dampTxt = dampenedIndex.HasValue ? $"by removing level {dampenedIndex}({reportArr[dampenedIndex.Value]})" : "";
                    if (isVerbose) verboseResults.Add($"{reportArr.ToJson()}: SAFE {dampTxt}");
                    return true;
                }
            }

            if (isVerbose)
                LogUnsafeResult(reportArr, i, isAscending, diff);
            return false;
        }

        if (isVerbose) verboseResults.Add($"{reportArr.ToJson()}: SAFE");
        safeCount++;
        return true;
    }

    private int? TryToDampen(int[] reportArr, int index)
    {
        // Try without prior value
        if (CheckIfSafe(reportArr.Take(index - 1).Concat(reportArr.Skip(index)).ToArray(), false, false))
            return index - 1;

        // Try without current value
        if (CheckIfSafe(reportArr.Take(index).Concat(reportArr.Skip(index + 1)).ToArray(), false, false))
            return index;

        // Try without 2 values back
        if (index >= 2 && CheckIfSafe(reportArr.Take(index - 2).Concat(reportArr.Skip(index - 1)).ToArray(), false, false))
            return index - 2;

        return null;
    }

    private void LogUnsafeResult(int[] reportArr, int index, bool isAscending, int diff)
    {
        if (diff == 0)
        {
            var direction = isAscending ? "increasing" : "decreasing";
            var inverseDirection = isAscending ? "decreasing" : "increasing";
            verboseResults.Add($"{reportArr.ToJson()}: NOT SAFE because {reportArr[index - 1]} {reportArr[index]} was {direction} now {inverseDirection}!");
        }
        else if (diff > 3)
            verboseResults.Add($"{reportArr.ToJson()}: NOT SAFE because {reportArr[index - 1]} {reportArr[index]} diff more than 3!");
        else if (diff < 1)
            verboseResults.Add($"{reportArr.ToJson()}: NOT SAFE because {reportArr[index - 1]} {reportArr[index]} is neither increase or decrease!");
    }
}