@* <div class="nav-item px-3"> *@
@*     <NavLink class="nav-link" href="Day22"> *@
@*         <span class="bi bi-grid-nav-menu" aria-hidden="true"></span> Day 22 *@
@*     </NavLink> *@
@* </div> *@
@* *@
@* <div class="nav-item px-3"> *@
@*     <NavLink class="nav-link" href="Day21"> *@
@*         <span class="bi bi-grid-nav-menu" aria-hidden="true"></span> Day 21 *@
@*     </NavLink> *@
@* </div> *@
@* *@
@* <div class="nav-item px-3"> *@
@*     <NavLink class="nav-link" href="Day20"> *@
@*         <span class="bi bi-grid-nav-menu" aria-hidden="true"></span> Day 20 *@
@*     </NavLink> *@
@* </div> *@

<div class="nav-item px-3">
    <NavLink class="nav-link" href="Day19">
        <span class="bi bi-list-nested-nav-menu" aria-hidden="true"></span> Day 19
    </NavLink>
</div>

@* <div class="nav-item px-3"> *@
@*     <NavLink class="nav-link" href="Day18"> *@
@*         <span class="bi bi-list-nested-nav-menu" aria-hidden="true"></span> Day 18 *@
@*     </NavLink> *@
@* </div> *@

<div class="nav-item px-3">
    <NavLink class="nav-link" href="Day17">
        <span class="bi bi-computer-nav-menu" aria-hidden="true"></span> Day 17
    </NavLink>
</div>

@* <div class="nav-item px-3"> *@
@*     <NavLink class="nav-link" href="Day16"> *@
@*         <span class="bi bi-computer-nav-menu" aria-hidden="true"></span> Day 16 *@
@*     </NavLink> *@
@* </div> *@