@page "/"

<PageTitle>AoC 2024</PageTitle>

<h1>Hello, adventer!</h1>

<p>This website is dedicated to the Advent of Code 2024 event.</p>
<p>As my personal exploration of dipping into Blazor this year I will provide</p>
<ul>
	<li>a simple compute page (input with number output) for the simpler tasks</li>
	<li>attempt component based solutions on the "graphical" ones</li>
</ul>